
.table{
    background-color: white;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.filas {
    padding: 20px;
}

.filas th, .filas td{
    padding: 20px;
}

.thead{
    background-color: #841031c9;
    border-bottom: solid 5px #0f362d;
    color: white;
}

.filas:nth-child(even){
    background-color: #ddd;
}

.filas:hover{
    background-color: #369681;
    color: white;
}

.button{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #f0b4be;
    width: 100px;
    border: 1px solid #713200;
}

.toast{
    border: 1px solid #713200;
	height: 250px;
    color: #713200;
    display: flex;
}

.toast h2{
    font-size: 20px;
}

.toast button
{   
    width: 40%;
    background-color: transparent;
    padding: 10px;
    margin: 20px 5px;
    
}